
body{
    background-image: url(https://images.hivisasa.com/1200/wIcL6TUr4Akenya.jpg);
   
}
.harrambe-starlets{
    background-image: url(../images/starlets.jpg);
    
    
    

}
#talents{

    background-color: rgb(92, 61, 61);
    color:rgb(25, 110, 110);
}
p{
    color: white ;
    
}
.harrambestars{
    background-image: url(../images/harrambestars.jpg);
}
nav{
    
    
}